SUPABASE_URL=https://wlnjcwjayortxdiplxej.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indsbmpjd2pheW9ydHhkaXBseGVqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODExNjEwOTUsImV4cCI6MjA5NjczNzA5NX0.SVipi_B87oidJOSLu5DQu7FEtTAFdjwG7-nW0ZOhZuI
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indsbmpjd2pheW9ydHhkaXBseGVqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTE2MTA5NSwiZXhwIjoyMDk2NzM3MDk1fQ.UHX-1DmtBNjhJUGpybnDfMRkXdgMxTUVClqMwwgHT7c

OPENAI_API_KEY=
GEMINI_API_KEY=
GEMINI_SOURCE_CODE_TESTS_API_KEY=
GEMINI_AI_FIXATIONS_API_KEY=
FASTAPI_URL=http://127.0.0.1:8000
NEXT_PUBLIC_FASTAPI_URL=http://127.0.0.1:8000
