SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

OPENAI_API_KEY=
GEMINI_API_KEY=
GEMINI_SOURCE_CODE_TESTS_API_KEY=
GEMINI_AI_FIXATIONS_API_KEY=
FASTAPI_URL=http://127.0.0.1:8000
NEXT_PUBLIC_FASTAPI_URL=http://127.0.0.1:8000